<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>영역 내 스타벅스 찾기</title>
</head>
<body>

    <h1>영역 내 스타벅스 찾기</h1>
    <br/>
    <form method="post" action="/process/withinStarbucks">
    <table>
        <tr>
            <td><label>CGV 강남점</label></td>
            <td></td>
        </tr>
        <tr>
            <td><label>경도</label></td>
            <td><input type="text" name="tl_longitude" value="127.0263"/></td>
        </tr>
        <tr>
            <td><label>위도</label></td>
            <td><input type="text" name="tl_latitude" value="37.5017"/></td>
        </tr>
        <tr>
            <td><label>역삼역 3번출구</label></td>
            <td></td>
        </tr>
        <tr>
            <td><label>경도</label></td>
            <td><input type="text" name="br_longitude" value="127.0354"/></td>
        </tr>
        <tr>
            <td><label>위도</label></td>
            <td><input type="text" name="br_latitude" value="37.5001"/></td>
        </tr>
    </table>
        <input type="submit" value="찾기"/>
    </form>

</body>
</html>